@model IEnumerable<Schedule_CodeFirstModel.Models.Schedule>
@using Schedule_CodeFirstModel.Models
@{
    ViewBag.Title = "GetSchedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Schedule</h2>
@Html.ActionLink("Create", "Create")
<table class="table table-bordered">
     
        <th id="width">Day</th><th>№</th><th>First week</th><th>second week</th>

    <tr>
        <th  rowspan="6">
            <div class="rotate">Monday</div>
        </th>

        <th>
            1<br />
            8:30-10:05
        </th>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 1 && item.WeekNumber == Week.firstWeek && item.Day == Day.Mon)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                    @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                    <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                    @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
            }

        }
    </tr>
    <tr>
    <tr>
        <th>
            2<br />
            10:25-12:00
        </th>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 2 && item.WeekNumber == Week.firstWeek && item.Day == Day.Mon)
            {
                <td>

                        @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                        @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                        <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                        @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                </td>
            }
        }
    </tr>
    <tr>
        <th>
            3<br />
            12:20-13:55
        </th>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 3 && item.WeekNumber == Week.firstWeek && item.Day == Day.Mon)
            {
                <td>
                    
                        @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                        @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                        <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                        @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                </td>
            }
        }
    </tr>
    <tr>
        <th>
            4<br />
            14:15-15:50
        </th>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 4 && item.WeekNumber == Week.firstWeek && item.Day == Day.Mon)
            {
                <td>
                    
                        @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                        @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                        <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                        @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                </td>
            }
        }
    </tr>
    <tr>
        <th>
            5<br />
            16:10-17:45
        </th>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 5 && item.WeekNumber == Week.firstWeek && item.Day == Day.Mon)
            {
                <td>
                   
                        @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                        @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                        <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                        @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                </td>
            }
        }
    </tr>
    <tr>
        <th rowspan="6"><div class="rotate">Tuesday</div></th>
        <th>
            1<br />
            8:30-10:05
        </th>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 1 && item.WeekNumber == Week.firstWeek && item.Day == Day.Tue)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                    @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                    <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                    @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
            }

        }
    </tr>
    <tr>
    <tr>
        <th>
            2<br />
            10:25-12:00
        </th>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 2 && item.WeekNumber == Week.firstWeek && item.Day == Day.Tue)
            {
                <td>

                    @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                    @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                    <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                    @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                </td>
            }
        }
    </tr>
    <tr>
        <th>
            3<br />
            12:20-13:55
        </th>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 3 && item.WeekNumber == Week.firstWeek && item.Day == Day.Tue)
            {
                <td>

                    @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                    @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                    <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                    @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                </td>
            }
        }
    </tr>
    <tr>
        <th>
            4<br />
            14:15-15:50
        </th>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 4 && item.WeekNumber == Week.firstWeek && item.Day == Day.Tue)
            {
                <td>

                    @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                    @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                    <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                    @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                </td>
            }
        }
    </tr>
    <tr>
        <th>
            5<br />
            16:10-17:45
        </th>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 5 && item.WeekNumber == Week.firstWeek && item.Day == Day.Tue)
            {
                <td>

                    @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                    @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                    <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                    @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                </td>
            }
        }
    </tr>
    <tr>
        <th rowspan="6"><div class="rotate">Wednesday</div></th>
        <th>
            1<br />
            8:30-10:05
        </th>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 1 && item.WeekNumber == Week.firstWeek && item.Day == Day.Wed)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                    @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                    <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                    @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
            }

        }
    </tr>
    <tr>
    <tr>
        <th>
            2<br />
            10:25-12:00
        </th>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 2 && item.WeekNumber == Week.firstWeek && item.Day == Day.Wed)
            {
                <td>

                    @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                    @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                    <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                    @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                </td>
            }
        }
    </tr>
    <tr>
        <th>
            3<br />
            12:20-13:55
        </th>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 3 && item.WeekNumber == Week.firstWeek && item.Day == Day.Wed)
            {
                <td>

                    @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                    @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                    <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                    @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                </td>
            }
        }
    </tr>
    <tr>
        <th>
            4<br />
            14:15-15:50
        </th>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 4 && item.WeekNumber == Week.firstWeek && item.Day == Day.Wed)
            {
                <td>

                    @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                    @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                    <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                    @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                </td>
            }
        }
    </tr>
    <tr>
        <th>
            5<br />
            16:10-17:45
        </th>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 5 && item.WeekNumber == Week.firstWeek && item.Day == Day.Wed)
            {
                <td>

                    @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                    @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                    <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                    @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                </td>
            }
        }
    </tr>
    <tr>
        <th rowspan="6"><div class="rotate">Thursday</div></th>
        <th>
            1<br />
            8:30-10:05
        </th>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 1 && item.WeekNumber == Week.firstWeek && item.Day == Day.Thu)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                    @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                    <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                    @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
            }

        }
    </tr>
    <tr>
    <tr>
        <th>
            2<br />
            10:25-12:00
        </th>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 2 && item.WeekNumber == Week.firstWeek && item.Day == Day.Thu)
            {
                <td>

                    @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                    @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                    <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                    @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                </td>
            }
        }
    </tr>
    <tr>
        <th>
            3<br />
            12:20-13:55
        </th>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 3 && item.WeekNumber == Week.firstWeek && item.Day == Day.Thu)
            {
                <td>

                    @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                    @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                    <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                    @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                </td>
            }
        }
    </tr>
    <tr>
        <th>
            4<br />
            14:15-15:50
        </th>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 4 && item.WeekNumber == Week.firstWeek && item.Day == Day.Thu)
            {
                <td>

                    @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                    @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                    <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                    @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                </td>
            }
        }
    </tr>
    <tr>
        <th>
            5<br />
            16:10-17:45
        </th>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 5 && item.WeekNumber == Week.firstWeek && item.Day == Day.Thu)
            {
                <td>

                    @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                    @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                    <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                    @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                </td>
            }
        }
    </tr>
    <tr>
        <th rowspan="6"><div class="rotate">Friday</div></th>
        <th>
            1<br />
            8:30-10:05
        </th>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 1 && item.WeekNumber == Week.firstWeek && item.Day == Day.Fri)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                    @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                    <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                    @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
            }

        }
    </tr>
    <tr>
    <tr>
        <th>
            2<br />
            10:25-12:00
        </th>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 2 && item.WeekNumber == Week.firstWeek && item.Day == Day.Fri)
            {
                <td>

                    @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                    @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                    <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                    @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                </td>
            }
        }
    </tr>
    <tr>
        <th>
            3<br />
            12:20-13:55
        </th>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 3 && item.WeekNumber == Week.firstWeek && item.Day == Day.Fri)
            {
                <td>

                    @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                    @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                    <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                    @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                </td>
            }
        }
    </tr>
    <tr>
        <th>
            4<br />
            14:15-15:50
        </th>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 4 && item.WeekNumber == Week.firstWeek && item.Day == Day.Fri)
            {
                <td>

                    @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                    @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                    <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                    @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                </td>
            }
        }
    </tr>
    <tr>
        <th>
            5<br />
            16:10-17:45
        </th>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 5 && item.WeekNumber == Week.firstWeek && item.Day == Day.Fri)
            {
                <td>

                    @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                    @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                    <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                    @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                </td>
            }
        }
    </tr>
    <tr>
        <th rowspan="6"><div class="rotate">Saturday</div></th>
        <th>
            1<br />
            8:30-10:05
        </th>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 1 && item.WeekNumber == Week.firstWeek && item.Day == Day.Sat)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                    @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                    <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                    @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
            }

        }
    </tr>
    <tr>
    <tr>
        <th>
            2<br />
            10:25-12:00
        </th>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 2 && item.WeekNumber == Week.firstWeek && item.Day == Day.Sat)
            {
                <td>

                    @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                    @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                    <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                    @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                </td>
            }
        }
    </tr>
    <tr>
        <th>
            3<br />
            12:20-13:55
        </th>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 3 && item.WeekNumber == Week.firstWeek && item.Day == Day.Sat)
            {
                <td>

                    @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                    @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                    <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                    @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                </td>
            }
        }
    </tr>
    <tr>
        <th>
            4<br />
            14:15-15:50
        </th>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 4 && item.WeekNumber == Week.firstWeek && item.Day == Day.Sat)
            {
                <td>

                    @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                    @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                    <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                    @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                </td>
            }
        }
    </tr>
    <tr>
        <th>
            5<br />
            16:10-17:45
        </th>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 5 && item.WeekNumber == Week.firstWeek && item.Day == Day.Sat)
            {
                <td>

                    @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                    @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                    <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                    @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                </td>
            }
        }
    </tr>
</table>


<table class="table table-bordered table-hover">
    <tr>
        <th>Num</th>
        @foreach (var day in ViewBag.Days)
        {
            <th>
                @Html.DisplayFor(modelItem => day)
            </th>
        }
    </tr>
    <tr>
        <td>
            1<br />
            8:30-10:05
        </td>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 1 && item.WeekNumber == Week.secondWeek)
            {
                <td>
                   
                        @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                        @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                        <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                        @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                </td>
            }
        }
    </tr>
    <tr>
    <tr>
        <td>
            2<br />
            10:25-12:00
        </td>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 2 && item.WeekNumber == Week.secondWeek)
            {
                <td>
                   
                        @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                        @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                        <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                        @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                </td>
            }
        }
    </tr>
    <tr>
        <td>
            3<br />
            12:20-13:55
        </td>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 3 && item.WeekNumber == Week.secondWeek)
            {
                <td>
                    
                        @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                        @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                        <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                        @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                </td>
            }
        }
    </tr>
    <tr>
        <td>
            4<br />
            14:15-15:50
        </td>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 4 && item.WeekNumber == Week.secondWeek)
            {
                <td>
                        @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                        @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                        <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                        @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                </td>
            }
        }
    </tr>
    <tr>
        <td>
            5<br />
            16:10-17:45
        </td>
        @foreach (var item in Model)
        {
            if (item.Class.Number == 5 && item.WeekNumber == Week.secondWeek)
            {
                <td>
                   
                        @Html.DisplayFor(modelItem => item.Teacher.Subject.SubjectName)<br />
                        @Html.DisplayFor(modelItem => item.Teacher.Name)<br />
                        <span>Room №</span>@Html.DisplayFor(modelItem => item.Room.Number)<br />
                        @Html.DisplayFor(modelItem => item.Room.PlacesAmount)<span>places</span>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                </td>
            }
        }
    </tr>
</table>

@*<td>
        @Html.DisplayFor(modelItem => item.Subject.SubjectName)
        @Html.DisplayFor(modelItem => item.Teacher.Name)
        @Html.DisplayFor(modelItem => item.Room.Number)
        @Html.DisplayFor(modelItem => item.Room.PlacesAmount)
    </td>
    </tr>

                @*Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>*@

