@model IEnumerable<Schedule_CodeFirstModel.Models.Schedule>

@{
    ViewBag.Title = "GetSchedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetSchedule</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Num
        </th>
        @foreach (var item in ViewBag.Days)
        {
        <th>
            @Html.DisplayFor(model => item)
        </th>
        }
        
    </tr>
    
        @{int i = 1; }
                @foreach (var time in ViewBag.Times)
                {

                        <tr>
                            <td>
                                @i<br />
                                @Html.DisplayFor(model => time)
                                @{i++;}
                            </td>
                            </tr>
                }
                            @foreach (var item in Model)
                            {
                            <td>
                                @Html.DisplayFor(modelItem => item.Subject.SubjectName)
                                @Html.DisplayFor(modelItem => item.Teacher.Name)
                                @Html.DisplayFor(modelItem => item.Room.Number)
                                @Html.DisplayFor(modelItem => item.Room.PlacesAmount)
                            </td>
                            }

                    
            
         
         
            



                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>*@

       
    
</table>
