@model List<Schedule_CodeFirstModel.Models.Group>

<p>
    @Html.ActionLink("Add Group", "Create")
</p>
<p>
    @Html.ActionLink("To PDF", "GeneratePDF")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Group Name")
        </th>
        <th>
            @Html.Label("Students")
        </th>
        <th>
            @Html.Label("Course")
        </th>
        <th>
            @Html.Label("Speciality")
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="~/Schedules/Index/@item.Id">@item.GroupName</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Students)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Speciality.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
